<!-- src/app/timer/timer.component.html -->
<div id="clockdiv">
    <div>
      <span class="days">{{ time.days }}</span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours">{{ time.hours }}</span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes">{{ time.minutes }}</span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds">{{ time.seconds }}</span>
      <div class="smalltext">Seconds</div>
    </div>
</div>
  